@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background-color: #161616;
	color: #f3f3f3;
}

.bg-page {
	background-color: #161616;
}

.bg-card {
	background-color: #202020;
	color: #f3f3f3;
}

.text-card {
	color: #f3f3f3;
}
